{
	padding: 0;
	margin: 0;
	font-family: Century Gothic ;
}

header {
 background-image: url(im0.jpg);
 height: 150vh;
 background-size: cover;
 background-position: top;
}
ul
{
	float: right;
	list-style-type: circle;
}
ul li{
	display: inline-block

}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid black; 
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: white ;
	color: red ;
}
.main
{
margin: auto;
max-width: 1200px;